body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:140px;
    top:160px;
    width:591px;
    height:321px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:591px;
    height:321px;
    
}

.u1_normal {
    background-image: url('../Header_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:36px;
    width:590px;
    height:284px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:290px;
}

.u2 {
    position:absolute;
    left:2px;
    top:134px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Header_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u4 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:202px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_line {
    background-image: url('../Header_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:225px;
}

.u7 {
    position:absolute;
    left:182px;
    top:55px;
    width:10px;
    height:225px;
    
}

.u8 {
    position:absolute;
    left:202px;
    top:81px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:202px;
    top:105px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:202px;
    top:131px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:202px;
    top:155px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:202px;
    top:181px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:402px;
    top:53px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:402px;
    top:78px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:16px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:16px;
    top:80px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:16px;
    top:105px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:402px;
    top:103px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:402px;
    top:128px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../Header_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:176px;
    height:3px;
}

.u20 {
    position:absolute;
    left:11px;
    top:156px;
    width:176px;
    height:10px;
    
}

.u21_line {
    background-image: url('../Header_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:167px;
}

.u21 {
    position:absolute;
    left:382px;
    top:53px;
    width:10px;
    height:167px;
    
}

.u22 {
    position:absolute;
    left:402px;
    top:176px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:402px;
    top:201px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_line {
    background-image: url('../Header_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:176px;
    height:3px;
}

.u24 {
    position:absolute;
    left:387px;
    top:156px;
    width:176px;
    height:10px;
    
}

.u25 {
    position:absolute;
    left:16px;
    top:130px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:16px;
    top:190px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:16px;
    top:215px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:16px;
    top:240px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:16px;
    top:265px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:320px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u31 {
    position:absolute;
    left:0px;
    top:35px;
    width:590px;
    height:285px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u32 {
    position:absolute;
    left:260px;
    top:160px;
    width:591px;
    height:321px;
    overflow:hidden;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:591px;
    height:321px;
    
}

.u33_normal {
    background-image: url('../Header_files/u1_normal.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:36px;
    width:590px;
    height:284px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:596px;
    height:290px;
}

.u34 {
    position:absolute;
    left:2px;
    top:134px;
    width:586px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Header_files/u3_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:202px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_line {
    background-image: url('../Header_files/u39_line.png');
}

.u39_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:225px;
}

.u39 {
    position:absolute;
    left:182px;
    top:55px;
    width:10px;
    height:225px;
    
}

.u40 {
    position:absolute;
    left:202px;
    top:81px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:202px;
    top:105px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:202px;
    top:131px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:202px;
    top:155px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:402px;
    top:53px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:402px;
    top:78px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:16px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:16px;
    top:80px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:402px;
    top:103px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_line {
    background-image: url('../Header_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:176px;
    height:3px;
}

.u49 {
    position:absolute;
    left:11px;
    top:156px;
    width:176px;
    height:10px;
    
}

.u50_line {
    background-image: url('../Header_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:117px;
}

.u50 {
    position:absolute;
    left:382px;
    top:53px;
    width:10px;
    height:117px;
    
}

.u51 {
    position:absolute;
    left:16px;
    top:105px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:16px;
    top:190px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:16px;
    top:215px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:16px;
    top:240px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:16px;
    top:265px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:16px;
    top:130px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:320px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u58 {
    position:absolute;
    left:0px;
    top:35px;
    width:590px;
    height:285px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u59 {
    position:absolute;
    left:380px;
    top:160px;
    width:391px;
    height:201px;
    overflow:hidden;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:391px;
    height:201px;
    
}

.u60_normal {
    background-image: url('../Header_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:36px;
    width:390px;
    height:164px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:396px;
    height:170px;
}

.u61 {
    position:absolute;
    left:2px;
    top:74px;
    width:386px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Header_files/u3_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u63 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:16px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../Header_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:115px;
}

.u66 {
    position:absolute;
    left:120px;
    top:55px;
    width:10px;
    height:115px;
    
}

.u67 {
    position:absolute;
    left:16px;
    top:81px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:16px;
    top:105px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:16px;
    top:131px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:16px;
    top:155px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:282px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:282px;
    top:80px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:282px;
    top:105px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:140px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:140px;
    top:80px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:140px;
    top:105px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:140px;
    top:130px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_line {
    background-image: url('../Header_files/u78_line.png');
}

.u78_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:115px;
}

.u78 {
    position:absolute;
    left:262px;
    top:55px;
    width:10px;
    height:115px;
    
}

#u79 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:200px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u80 {
    position:absolute;
    left:0px;
    top:35px;
    width:390px;
    height:165px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u81 {
    position:absolute;
    left:500px;
    top:160px;
    width:391px;
    height:201px;
    overflow:hidden;
}

#pd0u81 {
    position:absolute;
    left:0px;
    top:0px;
    width:391px;
    height:201px;
    
}

.u82_normal {
    background-image: url('../Header_files/u60_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:36px;
    width:390px;
    height:164px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:396px;
    height:170px;
}

.u83 {
    position:absolute;
    left:2px;
    top:74px;
    width:386px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Header_files/u3_normal.png');
}

.u84_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u85 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:16px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_line {
    background-image: url('../Header_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:115px;
}

.u88 {
    position:absolute;
    left:120px;
    top:55px;
    width:10px;
    height:115px;
    
}

.u89 {
    position:absolute;
    left:16px;
    top:81px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:16px;
    top:105px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:16px;
    top:131px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:16px;
    top:155px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:282px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:282px;
    top:80px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:282px;
    top:105px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:140px;
    top:55px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:140px;
    top:80px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:140px;
    top:105px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_line {
    background-image: url('../Header_files/u99_line.png');
}

.u99_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:75px;
}

.u99 {
    position:absolute;
    left:262px;
    top:55px;
    width:10px;
    height:75px;
    
}

#u100 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:200px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u101 {
    position:absolute;
    left:0px;
    top:35px;
    width:390px;
    height:165px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u102_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1042px;
    height:158px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1042px;
    height:158px;
}

.u103 {
    position:absolute;
    left:2px;
    top:71px;
    width:1038px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Header_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:0px;
    top:157px;
    width:1042px;
    height:43px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1042px;
    height:43px;
}

.u105 {
    position:absolute;
    left:2px;
    top:14px;
    width:1038px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Header_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:789px;
    top:163px;
    width:212px;
    height:25px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:218px;
    height:31px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:208px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:789px;
    top:163px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u109_normal {
    background-image: url('../Header_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:971px;
    top:159px;
    width:30px;
    height:30px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u110 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u111 {
    position:absolute;
    left:140px;
    top:160px;
    width:121px;
    height:36px;
    overflow:hidden;
}

#pd0u111 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:36px;
    
}

.u112_normal {
    background-image: url('../Header_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u113 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u115 {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u116 {
    position:absolute;
    left:500px;
    top:160px;
    width:121px;
    height:36px;
    overflow:hidden;
}

#pd0u116 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:36px;
    
}

.u117_normal {
    background-image: url('../Header_files/u112_normal.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u118 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u121 {
    position:absolute;
    left:260px;
    top:160px;
    width:121px;
    height:36px;
    overflow:hidden;
}

#pd0u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:36px;
    
}

.u122_normal {
    background-image: url('../Header_files/u112_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u123 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u126 {
    position:absolute;
    left:380px;
    top:160px;
    width:121px;
    height:36px;
    overflow:hidden;
}

#pd0u126 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:36px;
    
}

.u127_normal {
    background-image: url('../Header_files/u112_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u128 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u130 {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u131 {
    position:absolute;
    left:20px;
    top:160px;
    width:121px;
    height:36px;
    overflow:hidden;
}

#pd0u131 {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:36px;
    
}

.u132_normal {
    background-image: url('../Header_files/u112_normal.png');
}

.u132_container {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:35px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:41px;
}

.u133 {
    position:absolute;
    left:2px;
    top:10px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:16px;
    top:10px;
    width:87px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

